.time-info {
	font-size: 5em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 80vh;
}

.time {
	background-color: rgb(0, 132, 247);
	width: 20%;
}

.dots {
	margin-bottom: 2%;
	animation-name: dot-animation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

body {
	background-color: rgb(212, 245, 245);
}

@keyframes dot-animation {
	50%   {
		opacity: 0;
	}
}